header {
    display: grid;
    grid-template-columns: 25% 50% 15%;
    justify-content: space-around;
    align-items: center; 
    background-color: #f9f9f9;
    padding: 5px;
}

header .menu{
    display: none;
}


header .navContent{
    display: grid;
    grid-template-columns: 175px 175px 175px;
    gap: 5px;

}

header .navContent a{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #007b8f;
    font-size: 1.2em;
}

header .navContent a:hover{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #007b8f;
    background-color: lightgrey;
    border-radius: 5px;
}

.media{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.dropdown-menu {
    position: fixed;
    top: 60px;
    right: -100%;
    width: 150px;
    height: 100%;
    background-color: #f9f9f9;
    z-index: 2000;
    transition: top 0.3s ease;
    padding: 20px;
    border-left: solid 0.5px #c1d9dd;
}

.dropdown-menu.active {
    right: 0;
}


.dropdown-menu .navContentMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 150px;
}

.dropdown-menu .mediaMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.dropdown-menu .navContentMenu a{
    text-decoration: none;
    color: #007b8f;
}




@media (max-width: 1070px) {

    header .navContent{
        display: grid;
        grid-template-columns: 30% 30% 30% 30%;
        gap: 5px;
    
    }
}

@media (max-width: 750px){
    .media{
        display: none;
    }
    header .navContent{
        display: none;
    }
    header .menu{
        display: block; 
        position: absolute;
        right: 40px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}

@media (max-width: 500px) {
    .header{
        padding-left: 30px;
    }
    .tdEmail{
        overflow-y: scroll;
        max-width: 75px;
    }
}

@media (max-width:265px){
    .logo{
        height: 50px;
        width: 150px;
    }
}