@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  height: calc(100vh - 80px);
  width: calc(100vw - 200px);
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-left: 125px;
  justify-content: space-around;
}


.listParentDirectory {
  display: flex;
  flex-direction: row;
  max-height: 10px;
  width: 95%;
  margin-left: 30px;
  margin-bottom: 20px;
}

.header-table {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin-left: 20px;
  margin: 5px;
}

.container-input {
  padding: 5px;
  width: 50%;
  position: relative;
}

.input {
  height: 30px;
  width: 175px;
  padding: 10px 0px 10px 40px;
  border-radius: 5px;
  border: solid 1px #b5b5b5;
  transition: all .2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.container-input svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.input:focus {
  opacity: 1;
  width: 250px;
}

.btnCreate {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  align-items: center;
}

.CartBtn {
  width: 175px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #1e3050;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
}

.IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: .5s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition-duration: .5s;
  margin-top: 15px;
}

.CartBtn:hover .IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: .5s;
}

.CartBtn:hover .text {
  transform: translate(10px,0px);
  transition-duration: .5s;
}

.CartBtn:active {
  transform: scale(0.95);
  transition-duration: .5s;
}

table {
  background-color: white;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #1e3050;
}

.table-container {
  max-height: 60%; 
  min-height: 300px;
  overflow: scroll;
  width: 100%;
  border-radius: 10px;
  box-shadow: 1.5px 1.5px 4px 1px rgba(0, 0, 0, 0.5);
}

td {
  vertical-align: middle;
  text-align: left;
  padding-left: 50px;
}

tr {
  height: 60px;
  width: 80px;
  box-shadow: 0px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.table-container::-webkit-scrollbar {
  height: 0px;
  width: 3.5px;
}

.table-container::-webkit-scrollbar-track {
  background-color: #50535a;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #D1E6E9;
}

#srch {
  margin: 10px auto;
  width: 400px;
  text-align: right;
}

#floatingInputGroup1 {
  width: 100%;
  max-height: 100px;
}


.theme-switch {
  width: 96%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  direction: rtl;
  margin-top: 5px;
}


.buttonBackDirectory {
  border: none;
  background:none;
  margin-left: 2px;
}


.listParentDirectory {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.buttonBackDirectory {
  font-size: 22pt;
}



#theme-checkbox {
  display: none;
}

#theme-checkbox + label {
  font-size: 2rem;
  height: 1em;
  width: 2.5em;
  border-radius: 0.25em;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: #cecece;
  position: relative;
}

#theme-checkbox:checked + label {
  background-color: #3a3a3a;
}

#theme-checkbox + label:active {
  transform: scale(0.85);
  transition: transform 0.2s;
}

#theme-checkbox + label div {
  width: 0.8em;
  height: 0.8em;
  border-radius: inherit;
  position: absolute;
  top: 0.1em;
  left: 0.1em;
  z-index: 10;
  transition: 0.5s cubic-bezier(1, 0.33, 0.11, 1.34);
  background-color: #f2f2f2;
}

#theme-checkbox:checked + label div {
  /* left: calc(2.5em - .8em - .1em); */
  left: 1.6em;
  background-color: #212121;
}

#theme-checkbox + label span {
  display: flex;
}

#theme-checkbox + label svg {
  display: inline-block;
  height: 1em;
  width: 1em;
  padding: 0.15em;
  box-sizing: border-box;
}

#theme-checkbox + label span:first-of-type {
  color: #3a3a3a;
}

#theme-checkbox + label span:last-of-type {
  color: #cecece;
}

/* Menu de Contexto */
.context-menu {
  width: 120px;
  height: 150px;
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 1000;
}
.context-menu > a{
  width: 100%;
}
.btnOption{
  width: 100%;
  height: 33%;
  background-color: #ffffff;
  border: none;
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.15);

}
.btnOption:hover{
  background-color: #c4c4c4;
}







/*modal pasta*/
.AddFolderModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 350px;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 1.5px 1.5px 4px 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  z-index: 1;
  background-color: #F9F9F9;
  color: #1e3050;
}

.AddFolderModal label, .AddFolderModal input, .AddFolderModal button, .AddFolderModal p {
  display: block;
  margin: 10px 0;
}

.AddFolderModal button, .AddFolderModal p {
  cursor: pointer;

}

.AddFolderModal .actions {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.AddFolderModal .labelinput {
  position: relative;
  padding-left: 35px;
}

.AddFolderModal .savebtn {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #1e3050;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/*modal pasta*/



/*modal arquivo*/

.AddFolderModalFile {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 350px;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 1.5px 1.5px 4px 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  z-index: 1;
  background-color: #F9F9F9;
  color: #1e3050;
}

.AddFolderModalFile label, .AddFolderModalFile input, .AddFolderModalFile button, .AddFolderModalFile p {
  display: block;
  margin: 10px 0;
}

.AddFolderModalFile button, .AddFolderModalFile p {
  cursor: pointer;

}

.AddFolderModalFile .actions {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.AddFolderModalFile .labelinput {
  position: relative;
}

.AddFolderModalFile .savebtn {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #1e3050;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/*componente*/
.file-upload-form {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-upload-label input {
  display: none;
}

.file-upload-label svg {
  height: 50px;
  fill: #1e3050;
  margin-bottom: 20px;
}

.file-upload-label {
  cursor: pointer;
  background-color: #ddd;
  padding: 30px 70px;
  border-radius: 40px;
  border: 2px dashed #1e3050;
  box-shadow: 0px 0px 200px -50px rgba(0, 0, 0, 0.719);
}

.file-upload-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.browse-button {
  background-color: #1e3050;
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
  transition: all 0.3s;
}

.browse-button:hover {
  background-color: #929497;
}
/*componente*/




/*modal arquivo*/












@media only screen and (max-width: 923px) {
  main {
    height: calc(100vh - 330px);
  }

  aside {
    height: 100px;
  }
}

@media only screen and (max-width: 717px) {
  #openMenu,
  #closeMenu {
    display: block;
  }

  #openMenu {
    margin-left: auto;
  }

  #closeMenu {
    position: fixed;
    right: 15px;
    top: 15px;
  }

  nav {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8);
    align-items: center;
    justify-content: center;
    margin: 0;
    display: none;
    opacity: 0;
    transition: 0.3s;
  }
}
